[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
folium = "*"
geopandas = "*"
geopy = "*"
selenium = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.11"
